<br>
<h1><u>About Me</u></h1>
<h1>My name is Nevin Sunny. I'm a Computer Programming student. 
    <br>I was born in India. I moved to Canada 1 year ago. 
    <br>Other than my studies I am a photographer and have more interest in indoor games. I have travelled a lot of places and took thousands of photos.</h1>

<br><br>
<h2>To know more about me, contact me at {{email}}</h2>