body {
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-image: url(./luca.jpg) ;
  background-repeat: no-repeat;
  background-size: cover;*/
  padding-bottom: 25vh;
  
  
}

a {
  color: #00B7FF;
}
.inde{
  background-image:url('./luca.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}
.abou{
  background-image:url('./tho.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
}
.imgss{
  background-image:url('./filim.jpg') ;
  background-repeat: no-repeat;
  background-size: contain;
}
.imgss1{
  background-image:url('./ph.jpg') ;
  background-repeat: no-repeat;
  background-size: contain;
}.imgss2{
  background-image:url('./gal.jpg') ;
  background-repeat: no-repeat;
  background-size: contain;
}
.sunny{
  background-image:url('./Nevin_Image.jpeg') ;
  background-repeat: no-repeat;
  background-size: contain;
}